<div class="groups-container">
  @for (group of groups(); track group.name; let i = $index) {
    <div class="group-card">
      <h4>{{ group.name }}</h4>

      <div
        cdkDropList
        [cdkDropListData]="group.members"
        [cdkDropListConnectedTo]="dropListIds"
        [id]="'group-' + i"
        (cdkDropListDropped)="onDrop($event, i)"
        [cdkDropListDisabled]="isValidated"
        class="member-list"
      >
        @for (member of group.members; track member.id) {
          <div
            cdkDrag
            [cdkDragDisabled]="isValidated"
            class="member-item"
          >
            {{ member.name }}
          </div>
        }
      </div>
    </div>
  }
</div>

@if (!isValidated) {
  <button (click)="onValidate()" class="validate-btn">
    Valider ce tirage
  </button>
}
