<button (click)="close()" class="close-btn">✕</button>

<app-group-form (generate)="onGenerate($event)"></app-group-form>

@if (groups().length > 0) {
  <app-group-display
  [groups]="groups()"
  (validate)="onValidate($event)"
></app-group-display>

}


@if (groups.length > 0) {
  <section>
    <h3>Groupes générés :</h3>
    @for (group of groups(); track group.name) {
      <h4>{{ group.name }}</h4>
      <ul>
        @for (member of group.members; track member.id) {
          <li>{{ member.name }}</li>
        }
      </ul>
    }
  </section>
}
