<div class="profile-container">
  <!-- Partie gauche : infos ou formulaire -->
  <div class="profile-card">
    @if (editMode()) {
      <h2>Modifier mon profil</h2>
      <form [formGroup]="profileForm" (ngSubmit)="save()">
        <label>Prénom :</label>
        <input type="text" formControlName="firstname" />
        <label>Nom :</label>
        <input type="text" formControlName="lastname" />
      </form>
    } @else if (user) {
      <h2>Mon profil</h2>
      <p><strong>Nom :</strong> {{ user.last_name }}</p>
      <p><strong>Prénom :</strong> {{ user.first_name }}</p>
      <p><strong>Email :</strong> {{ user.email }}</p>
      <p><strong>Créé le :</strong> {{ user.created_at | date : "longDate" }}</p>
      <p><strong>CGU Acceptée le :</strong> {{ user.cgu_accepted_at | date : "longDate" }}</p>
    } @else {
      <p>Chargement du profil...</p>
    }
  </div>

  <!-- Partie droite : boutons -->
  <div class="profile-actions">
    @if (editMode()) {
      <button type="submit" (click)="save()">Enregistrer</button>
      <button type="button" (click)="toggleEditMode()">Annuler</button>
    } @else if (user) {
      <button type="button" (click)="toggleEditMode()">Modifier mes informations</button>
    }
    <hr />
    <button type="button" class="btn btn-danger" (click)="confirmDelete()">Supprimer mon compte</button>
  </div>
</div>
