<div class="profile-card">
  @if (editMode()) {
    <h2>Modifier mon profil</h2>
    <form [formGroup]="profileForm" (ngSubmit)="save()">
      <label>Prénom :</label>
      <input type="text" formControlName="firstname" />
      <label>Nom :</label>
      <input type="text" formControlName="lastname" />
      <button type="submit">Enregistrer</button>
      <button type="button" (click)="toggleEditMode()">Annuler</button>
    </form>
  } @else {
    <h2>Mon profil</h2>
    <p><strong>Nom :</strong> {{ user.lastname }}</p>
    <p><strong>Prénom :</strong> {{ user.firstname }}</p>
    <p><strong>Email :</strong> {{ user.email }}</p>
    <p><strong>Créé le :</strong> {{ user.createdAt | date: 'longDate' }}</p>
    <button (click)="toggleEditMode()">Modifier mes informations</button>
  }

  <hr />
<button type="button" class="btn btn-danger" (click)="confirmDelete()">
  Supprimer mon compte
</button>



</div>
