<main>
    <h1>Liste des listes</h1>
  
    <div class="table-wrapper">
      @if (lists().length > 0){
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Nbr. Pers.</th>
            <th>Nbr. Tirages</th>
            <th>Id Utilisateur</th>
            <th>Suppr / Editer</th>
          </tr>
        </thead>
        <tbody>
          @for (list of lists(); track list.id){
          <tr>
            <td class="id-column">{{ list.id }}</td>
            <td>{{ list.name }}</td>
            <td>{{ list.personAmount }}</td>
            <td>{{ list.tirageAmount }}</td>
            <td>{{ list.userId }}</td>
            <td><button>🗑️</button><button>✏️</button></td>
          </tr>
          }
        </tbody>
      </table>
      } @else {
      <p>Aucun utilisateur trouvé</p>
      }
    </div>
  </main>
  