main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 25px;
  align-items: center;
  padding: 10px 0;
  min-height: 100vh;
  height: fit-content;
}

.table-wrapper {
  width: 90%;
  overflow-x: auto;
  border: 2px solid #333333;
  height: fit-content;
  max-height: 70vh;
  border-radius: 8px;
  background-color: white;
}
table {
  min-width: 600px;
  border-collapse: collapse;
  font-size: 12px;
  width: 100%;
}

tbody tr {
  height: 50px;
}

thead th {
  background-color: #d10000;
  height: 50px;
  width: 20%;
  padding: 10px;
  color: white;
  text-align: center;
}

td {
  height: fit-content;
  padding: 10px;
}
th.id-column {
  width: 10px;
}
h1 {
  text-align: center;
}

button {
  width: fit-content;
  border-radius: 100px;
  padding: 5px;
}

.id-column {
  width: 10px;
  min-width: 10px;
  max-width: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
