<h2>Historique des tirages</h2>

@if (drawSummaries().length > 0) {
<ul class="history-list">
 @for (group of selectedEntry()?.groups ?? []; track group.name) {
  <h4>{{ group.name }}</h4>
  <ul>
    @for (member of group.members ?? []; track member.first_name) {
      <li>{{ member.first_name }} {{ member.last_name }}</li>
    }
  </ul>
}

</ul>
} @else {
<p>Aucun tirage historique trouvé.</p>
}

@if (selectedEntry() != null) {
<div class="history-detail">
  <h3>Détails du tirage du {{ selectedEntry()?.date | date:'fullDate' }}</h3>
  @for (group of selectedEntry()?.groups ?? []; track group.name) {
  <h4>{{ group.name }}</h4>
  <ul>
    @for (member of group.members; track member.first_name) {
    <li>{{ member.first_name }}</li>
    }
  </ul>
  }
  <button (click)="closeDetails()">Fermer</button>
</div>
}