<main>
  <h1>Liste d'utilisateurs</h1>
  @if (users().length > 0){

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Date CGU</th>
          <th>Bloquer</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users(); track user.email){
        <tr>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.cgu_accepted }}</td>
          <td>
            <input type="checkbox" (click)="blockUser(user)" />
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @else {
  <p>Aucun utilisateur trouvé</p>
  }
</main>
