<!-- Bouton pour ouvrir/fermer la sidebar -->
<button class="sidebar-toggle" (click)="toggleSidebar()">
  {{ isOpen() ? "✕" : "☰" }}
</button>

<!-- Sidebar affichée seulement si isOpen() -->
@if (isOpen()) {
<nav class="sidebar">
  <ul class="nav-links">
    <!-- Liens utilisateur -->
    @if (userRole === 'user') {
    <li>
      <a routerLink="/lists" routerLinkActive="active" (click)="closeSidebar()">Mes listes</a>
    </li>
    <li>
      <a routerLink="/groups" routerLinkActive="active" (click)="closeSidebar()">Mes groupes</a>
    </li>
    }

    <!-- Liens admin -->
    @else if (userRole === 'admin') {
    <li><a routerLink="/admin/listes" (click)="closeSidebar()">Listes</a></li>
    <li><a routerLink="/admin/users" (click)="closeSidebar()">Utilisateurs</a></li>
    <li><a routerLink="/admin/stats" (click)="closeSidebar()">Statistiques</a></li>
    }

    <li>
      <a routerLink="/profile">
        <img src="icons/Profile.png" alt="Profil" class="icon-img" />
      </a>
      <a (click)="logout()">
        <img src="icons/Logout.png" alt="Déconnexion" class="icon-img" />
      </a>
    </li>
  </ul>
</nav>
}