@if (showModal && user()){
<main>
  <form [formGroup]="updateForm" (ngOnSubmit)="onSubmit()">
    <button (click)="closeModal()" id="close">X</button>
    <h2>Mettre à jour</h2>
    <section>
      <label for="firstName">Prénom :</label
      ><input formControlName="firstName" type="text" />
      @if (updateForm.get("firstName")?.touched &&
      updateForm.get("firstName")?.invalid){
      <small>Minimum 3 charactères</small>
      }
    </section>
    <section>
      <label for="lastName">Nom :</label
      ><input formControlName="lastName" type="text" />
      @if (updateForm.get("lastName")?.touched &&
      updateForm.get("lastName")?.invalid){
      <small>Minimum 3 charactères</small>
      }
    </section>

    <section>
      <label for="email">Email :</label
      ><input formControlName="email" type="email" />
      @if (updateForm.get("email")?.touched &&
      updateForm.get("email")?.invalid){
      <small>Format invalide</small>
      }
    </section>
    <button type="submit" id="submit" (click)="onSubmit()">Valider</button>
  </form>
</main>

}
